// Layout
@import 'https://app.blaze.design/assets/css/main.css';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

// Color variables
:root {
    --primary-color: rgb(82, 97, 255);  /* #5261FF */
    --primary-color-soft: rgba(82, 97, 255, 0.8);
    --secondary-color: rgb(255, 82, 241);  /* #FF52F1 */
    --secondary-color-soft: rgba(255, 82, 241, 0.8);
    --tertiary-color: rgb(153, 162, 255);  /* #99a2ff */
    --tertiary-color-soft: rgba(153, 162, 255, 0.8);
    --font-primary: 'Gabarito', sans-serif;
} 